.container {
    min-height: 90vh;
}
.user_info {
    width:30%;
    margin: auto;
}
.user_header {
    text-align: center;
}
.user_subheader {
    text-align: center;
}
.today__words {
    width:50%;
    margin:40px auto;
}
.today__words__header {
    text-align: center;
}
.today__games__container {
    display: flex;
    justify-content: center;
    column-gap: 75px;
}
.menu {
    display: flex;
    justify-content: center;
    column-gap: 75px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.menu__button {
    outline: none;
    border: 0;
    background: #34495e;
    color:white;
    font-weight: bold;
    padding:15px;
}
.menu__button_active {
    background: #1abc9c;
}
.graphs__header {
    margin-top: 50px;
    text-align: center;
}
.graphs__menu {
    margin:30px;
    display: flex;
    justify-content: space-around;
}
.graphs__button {
    background: #34495e;
    color: white;
    border: none;
    padding: 5px;
}
.graphs__button_active {
    background: #1abc9c
}
.graphs__container {
    margin-bottom: 20px;
}